.friendList {
  overflow: auto;
}

.friendList .uki-dataGrid-cell {
  width: 200px;
  height: 60px;
  margin: 0 8px 8px 0;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0;
}

.frientList__person {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
}

.frientList__name {
  margin-left: 60px;
}