.friendList {
  overflow-y: auto;
  font-size: 12px;
}

.friendList .uki-dataGrid-cell {
  width: 115px;
  height: 46px;
  margin: 0 20px 13px 0;
  position: relative;
  border: 1px solid #aaaaaa;
  border-radius: 1px;
  padding: 0;
}

.friendList .uki-dataGrid-cell_selected {
  background: #00a6e2;
  background: -webkit-linear-gradient(top, #00aef2 0%,#00a0d3 100%);
  border-color: #777798;
  box-shadow: 0 0 1px #cfe3ee;
}

.friendList .uki-dataList_blured .uki-dataGrid-cell_selected {
  border-color: #777798;
  color: #FFF;
}

.frientList__person {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 38px;
  height: 38px;
}

.frientList__name {
  margin: 4px 4px 4px 48px;
}